data_dir  = "/opt/nomad/data"
bind_addr = "0.0.0.0"

datacenter  = "rocha"
region      = "minasgerais"

server {
  enabled = false
}

client {
  enabled = true

  network_interface = "eth1"

  options {
    "diver.allowlist" = "docker,exec"
    "docker.privileged.enabled" = "true"
    "docker.volumes.enabled" = "true"
  }
}

advertise {
  http = "{{NOMAD_WORKERS_IP.stdout}}:4646"
  rpc  = "{{NOMAD_WORKERS_IP.stdout}}:4647"
  serf = "{{NOMAD_WORKERS_IP.stdout}}:4648"
}

consul {
  address             = "127.0.0.1:8500"
  server_service_name = "nomad"
  client_service_name = "nomad-client"
  auto_advertise      = true
  server_auto_join    = true
  client_auto_join    = true
}

# plugins "docker" {
#   volumes {
#     enabled      = true
#     selinuxlabel = "z"
#   }
# }

telemetry {
  collection_interval = "1s"
  disable_hostname = false
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}